body {

  font-family: "lato", Arial, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  letter-spacing: 1.5px;
}

header {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 20px;
  z-index: 1000;
  background-color: #fffff7;
  box-shadow: 0 1px 20px rgba(121, 121, 121, 0.2);
}


svg {
  fill: rgb(0, 0, 0);
  height: clamp(20px, 3vw, 50px);
  width: clamp(20px, 3vw, 40px);
}

article {
  height: 100vh;
  background-color: rgb(241, 255, 251);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

article img {
  width: 250px;
  border-radius: 10px;
  margin-bottom: 50px;
}

article h1 {
  font-size: 50px;
  margin-bottom: 30px;
}

article .box {
  max-width: 60%;
  text-align: center;
}